* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin: 50px;
    
}

.mask {
    width: 300px;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    >img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    >p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 900;
        font-style: italic;
        font-size:30px;

    }

    .white{
        color: white;
    }
}